name: Publish
on:
  push:
    branches:
      - master
jobs:
  publish:
    name: Build, test, and deploy typedoc to GH
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Git Checkout
        uses: actions/checkout@master

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: make install

      - name: Build library
        run: make

      - name: Run tests
        run: make test

      - name: Make TypeDoc
        run: make typedoc

      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./typedoc
          cname: sdk.atomex.me
